img:hover {
    transform: scale(1.2); 
}
img {
    transition: all 0.3s ease-out;
}

h2{
       text-align: center;;
}

h2{
    font-size: 70px;
    color: #6B129D;
}

.contenaire {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.musiquee {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 70px;
    margin-left: 40px;
    color: #BF93CC;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden ;
    font-family: "", sans-serif;
    -webkit-font-smoothing: antialiased;
    /* background-image: url("../img/zelda-link.gif"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vh;
	z-index: -1;
    filter: blur(6px);
}

#video {
	width: 100vw;
}

body {
    background:black;
    padding:10px;
  }
  
  .flex {
    display:flex;
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    margin: 35px;  
  }
  
  .flex iframe {
    margin-right:20px;
    margin-bottom:20px;
    transition: all .3s;
  }
  
  .flex iframe:hover {
    transform:scale(1.05);
    border:2px solid hotpink;
    border-radius: 20px;
  }
  
  .flex iframe:last-child {
    margin:0;
  }

  body {
    background:black;
    padding:10px;
  }
  
  .flox {
    display:flex;
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    margin:0 auto;  
  }
  
  .flox iframe {
    margin-right:20px;
    margin-bottom:20px;
    transition: all .3s;
  }
  
  .flox iframe:hover {
    transform:scale(1.05);
    border:2px solid hotpink;
    border-radius: 20px;
  }
  
  .flox iframe:last-child {
    margin:0;
  }

  body {
    background:black;
    padding:10px;
  }
  
  .flax {
    display:flex;
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    margin: 35px;  
  }
  
  .flax iframe {
    margin-right:20px;
    margin-bottom:20px;
    transition: all .3s;
  }
  
  .flax iframe:hover {
    transform:scale(1.05);
    border:2px solid hotpink;
    border-radius: 20px;
  }
  
  .flax iframe:last-child {
    margin:0;
  }

  body {
    background:black;
    padding:10px;
  }
  
  .flmx {
    display:flex;
    flex-wrap:wrap;
    display:flex;
    justify-content: center;
    margin:0 auto;  
  }

  .flmx iframe {
    margin-right:20px;
    margin-bottom:20px;
    transition: all .3s;
  }
  
  .flmx iframe:last-child {
    margin:0;
  }

